<div class="about-wrapper">
    <div class="about-page">
        <div class="about-container">
            <div class="about-header">
                <div class="header-image">
                    <div class="header-overlay"></div>
                    <h1>关于</h1>
                </div>
            </div>
            <div class="about-card">
                <article class="about-content">
                    <%- page.content %>
                </article>
            </div>
        </div>
    </div>
</div> 